#contenedor{
    display: flex;
    width: 900px;
    height: 700px;
    background-color: #7a441769;
}

#colorines{
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: blueviolet;
    border: 3px solid black;
}

#resultados{
    display: flex;
    flex-direction: column-reverse;
    overflow-y: scroll;
}

.colores{
    width: 70px;
    border-radius: 70px;
    height: 70px;
    margin: 5px;
    cursor: pointer;
    border: 3px solid black;
}

.hueco{
    width: 70px;
    border-radius: 70px;
    background-color: grey;
    height: 70px;
    margin: 10px;
    cursor: pointer;
    border: 3px solid black;
}

.comprobar, .antiguo-comprobar{
    width: 40px;
    border-radius: 40px;
    background-color: grey;
    height: 40px;
    margin: 10px;
    border: 3px solid black;
}

.fila{
    display: flex;
    align-items: baseline;
}

.antiguo-hueco{
    width: 70px;
    border-radius: 70px;
    background-color: grey;
    height: 70px;
    margin: 10px;
    border: 3px solid black;
}

#ganar-oculto{
    display: none;
}

#ganar{
    position: absolute;
    top: 33%;
    left: 33%;
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 10px;
}

#reiniciar{
    background-color: white;
    border: 3px solid black;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    color: black;
}