.fondo-rojo{
    background-color: red;
}

.fondo-verde{
    background-color: green;
}

.fondo-amarillo{
    background-color: yellow;
}

.color-rojo{
    color: red;
}

.color-verde{
    color: green;
}

.color-amarillo{
    color: yellow;
}



